# sphinx build directories
_build/

# dotfiles
.*
!.gitignore
!.mailmap
# compiled python files
*.py[co]
__pycache__/
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status

# various virtualenv
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/

#PyDev
.project
.pydevproject
qb_ach_payments/__init__.py
qb_ach_payments/__manifest__.py
qb_ach_payments/README.rst
qb_ach_payments/models/__init__.py
qb_ach_payments/models/account_payment_register.py
qb_ach_payments/models/ach_payment.py
qb_ach_payments/report/__init__.py
qb_ach_payments/report/report_pmt_register.py
qb_ach_payments/security/ir.model.access.csv
qb_ach_payments/static/description/icon.png
qb_ach_payments/static/description/index.html
qb_ach_payments/static/src/img/ico-bank.png
qb_ach_payments/static/src/img/ico-fax.png
qb_ach_payments/static/src/img/ico-mails.png
qb_ach_payments/static/src/img/ico-money.png
qb_ach_payments/static/src/img/ico-phone.png
qb_ach_payments/static/src/img/ico-visa.png
qb_ach_payments/static/src/js/print_button_action_call.js
qb_ach_payments/static/src/xml/print_button.xml
qb_ach_payments/views/account_payment.xml
qb_ach_payments/wizard/__init__.py
qb_ach_payments/wizard/ach_pmt_wizard.py
qb_ach_payments/wizard/ach_pmt_wizard_view.xml
qb_ach_payments/wizard/report_ach_wizard.py
qb_ach_payments/wizard/report_ach_wizard_view.xml
qb_ach_payments/wizard/report_pmt_wizard.py
qb_ach_payments/wizard/report_pmt_wizard_view.xml
